/* Accueil.css */

.accueil-container {
    display: flex;
    justify-content: center;   /* Centre horizontalement */
    align-items: center;       /* Centre verticalement */
    height: 110vh;             /* Hauteur de 100% de la fenêtre */
    width: 100vw;              /* Largeur de 100% de la fenêtre */
    flex-direction: column;    /* Aligne les éléments verticalement */
    text-align: center;         /* Centre le texte à l'intérieur des éléments */
    background-color: #080808;  /* Optionnel : couleur de fond */
    position: relative;        /* Permet de positionner les éléments enfants de manière absolue */
    padding: 20px; /* Ajout d'un peu de padding autour de la page */
    box-sizing: border-box; /* Permet de prendre en compte le padding dans la taille totale */
}

.accueil-image {
    width: 40%; /* Ajuste la largeur de l'image */
    max-width: 400px; /* Empêche qu'elle devienne trop grande */
    margin-bottom: 20px; /* Espace entre l'image et le texte */
}

.accueil-texte {
    font-size: 24px; /* Augmente la taille du texte pour plus de visibilité */
    font-weight: bold;
    margin-bottom: 20px; /* Espace entre le texte et les boutons */
    color: white; /* Mettre la couleur du texte en blanc */
    line-height: 1.5; /* Ajoute un peu d'espace entre les lignes pour éviter la superposition */
}

.message-api {
    font-size: 20px; /* Taille de police pour le message de l'API */
    font-weight: normal; /* Moins gras que le message principal */
    margin-top: 10px; /* Ajoute un peu d'espace au-dessus du message */
    color: #cae919; /* Couleur différente pour le message de l'API */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px; /* Ajoute un espace entre les boutons et le texte */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Style pour le bouton "Crédits" */
.credits-button {
    position: absolute; /* Positionne le bouton de manière absolue */
    top: 20px;           /* 20px du haut de la page */
    right: 20px;         /* 20px de la droite de la page */
    background-color: #FF5733; /* Couleur différente pour le bouton */
    color: white;        /* Texte blanc */
    border: none;        /* Pas de bordure */
    border-radius: 5px;  /* Bordures arrondies */
}

.credits-button:hover {
    background-color: #C34A36; /* Couleur différente au survol */
}

/* Style pour le bouton "Crédits" */
.bienvenue-button {
    position: absolute; /* Positionne le bouton de manière absolue */
    top: 20px;           /* 20px du haut de la page */
    left: 20px;         /* 20px de la droite de la page */
    background-color: #cae919; /* Couleur différente pour le bouton */
    color: white;        /* Texte blanc */
    border: none;        /* Pas de bordure */
    border-radius: 5px;  /* Bordures arrondies */
}

.bienvenue-button:hover {
    background-color: #8f8315; /* Couleur différente au survol */
}
