/* src/pages/Booster.css */

/* Centrer le contenu horizontalement et verticalement */
.Booster-container {
  display: flex;
  justify-content: center;   /* Centre horizontalement */
  align-items: center;       /* Centre verticalement */
  height: 100vh;             /* Hauteur de 100% de la fenêtre */
  width: 100vw;               /* Largeur de 100% de la fenêtre */
  flex-direction: column;    /* Aligne les éléments verticalement */
  text-align: center;        /* Centre le texte à l'intérieur des éléments */
  background-color: #080808; /* Optionnel : couleur de fond */
}

/* Style pour le bouton */
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

/* Style pour les messages d'erreur */
.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
}

/* Style des cartes */
.cards-container {
  margin-top: 20px;
  width: 80%; /* Limiter la largeur de la zone des cartes */
  display: flex;
  flex-wrap: nowrap;  /* Empêche les cartes de passer à la ligne suivante */
  justify-content: flex-start; /* Alignement des cartes sur la ligne */
  gap: 15px; /* Espace entre les cartes */
  overflow-x: auto;  /* Permet le défilement horizontal si les cartes dépassent la largeur de l'écran */
}

.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  flex: 0 0 auto;  /* Empêche les cartes de se redimensionner */
}

/* Taille des images dans les cartes */
.card img {
  width: 150px;  /* Fixe la largeur de l'image */
  height: 150px;  /* Fixe la hauteur de l'image */
  object-fit: cover;  /* Maintient les proportions de l'image */
}

/* Style des textes des cartes */
.card p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
