body {
  background-image: url('../assets/Photos/booster.png'); /* Chemin de l'image */
  background-size: auto; /* L'image sera affichée dans sa taille naturelle */
  background-repeat: repeat; /* Répéter l'image en mosaïque */
  background-position: top left; /* Positionner l'image en haut à gauche */
  background-attachment: fixed; /* Fixe l'image en arrière-plan même lors du défilement */
  margin: 0; /* Évite un décalage avec la bordure du corps */
  padding: 0; /* Assure qu'il n'y a pas de marge autour du body */
  padding-left: 50px; /* Ajoute un espace blanc sur le côté gauche (ajustez la valeur selon vos besoins) */
}



/* Style des cartes lorsqu'elles sont affichées une par une */
.single-card {
  width: 300px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

/* Conteneur des cartes multiples */
.cards-container {
  display: flex; /* Utilise flexbox pour aligner les cartes */
  flex-wrap: wrap; /* Permet aux cartes de s'ajuster sur plusieurs lignes */
  gap: 20px; /* Espacement entre les cartes */
  justify-content: space-between; /* Les cartes sont espacées uniformément */
  margin-top: 20px; /* Ajoute un peu d'espace au-dessus du conteneur */
}

/* Style des cartes lorsqu'elles sont affichées toutes ensemble */
.multiple-cards {
  width: 250px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px; /* Ajoute un espacement entre les lignes de cartes */
}

/* Rareté des cartes */
.card-display.commune {
  border: 5px solid #C0C0C0; /* Gris */
}

.card-display.rare {
  border: 5px solid #007BFF; /* Bleu */
}

.card-display.super_rare {
  border: 5px solid #6610F2; /* Violet */
}

.card-display.legendaire {
  border: 5px solid #FFC107; /* Or */
}

/* Conteneur des images */
.card-display {
  padding-left: 20px; /* Décale légèrement l'image vers la droite */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style des images dans les cartes */
.card-display img {
  width: auto; /* Ajuste la largeur automatiquement */
  max-width: 100%; /* Ne dépasse pas le cadre */
  height: auto; /* Garde les proportions originales */
  max-height: 100%; /* Ne dépasse pas le cadre */
  object-fit: scale-down; /* Évite le rognage tout en remplissant le plus possible */
  object-position: center;
  border-radius: 8px;
  margin-left: 45px;
}
