.dashboard-container {
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Prend toute la hauteur de l'écran */
  width: 100vw; 
}

  
  .dashboard-container h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .dashboard-container p {
    font-size: 18px;
    color: #666;
  }
  
  .logout-button {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #e60000;
  }
  