.dashboard-container {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw;
  background-image: url('../assets/Photos/gengar.jpg');
  background-size: cover; /* L'image couvre toute la page */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat;
  background-color: #080808; /* Arrière-plan sombre comme l'accueil */
  color: white;
  position: relative;
}

.dashboard-container h2 {
  color: #fff;
  margin-bottom: 20px;
}

.dashboard-container p {
  font-size: 18px;
  color: #cae919; /* Couleur du texte */
  margin-bottom: 30px;
}

/* Conteneur des boutons */
.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap; /* Ajoute cette ligne pour permettre le retour à la ligne si les boutons ne tiennent pas sur une seule ligne */
  width: 100%; /* Prend toute la largeur de l'écran */
  max-width: 600px; /* Limite la largeur maximale des boutons */
}

/* Style des boutons */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
}

.collection-button {
  background-color: #1e90ff; /* Bleu */
}

.booster-button {
  background-color: #32cd32; /* Vert */
}

.logout-button {
  background-color: #ff4d4d; /* Rouge */
}

.add-card-button {
  background-color: #ff6347; /* Rouge tomate, couleur distincte */
  /* Optionnel : ajouter des effets visuels comme un ombrage */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.add-card-button:hover {
  transform: scale(1.05); /* Effet de zoom au survol pour attirer l'attention */
}

.credits-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #FF5733; /* Orange */
}

button:hover {
  opacity: 0.8;
}
